<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<p>Welcome to battleships game</p>
<p id="board-table"></p>

<script>
    let gameBoard;
        function printBoard() {

                $.ajax({
                    url: "/battleShips/generateField",
                    type: "POST",
                    success: function(response) {
                        gameBoard = response;
                        console.log("Test: " + gameBoard);
                        generateTable(gameBoard);
                    },
                    error: function(error) {
                        console.error("Error: No Board", gameBoard);
                    }
                });
            }
    printBoard();

    function generateTable(gameBoard) {
    let table = '<table>';

    for (let i = 0; i < 10; i++) {
        table += '<tr>';

        for (let j = 0; j < 10; j++) {
            table += `<td>${gameBoard[i][j]}</td>`;
        }
        table += '</tr>';
    }
    table += '</table>';
    const tableContainer = document.getElementById('board-table');
    tableContainer.innerHTML = table;
    }
</script>
</body>
</html>