<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
<p>BattleShips game</p>
<div id="board">
    <table id="board-table"></table>
</div>

<script>

    $(document).ready(function() {
    generateTable();
    });

    function generateTable() {
    let table = '<table>';

    for (let i = 0; i < 10; i++) {
        table += '<tr>';

        for (let j = 0; j < 10; j++) {
            table += `<td></td>`;
        }
        table += '</tr>';
    }
    table += '</table>';
    const tableContainer = document.getElementById('board-table');
    tableContainer.innerHTML = table;
    }
</script>>
<script>
    let rowIndex;
    let columnIndex;

$(document).ready(function() {
    $('#board-table').on('click', 'td', function() {
        const rowIndex = $(this).parent().index(); // Get the row index
        const columnIndex = $(this).index(); // Get the column index

        sendMove(rowIndex, columnIndex);

        alert(`(${rowIndex}, ${columnIndex})`);

    });
});

    function sendMove(clickedRow, clickedColumn)
    {
    $.ajax({
        url: "/battleShips/getMoveCords",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
            row: clickedRow,
            column: clickedColumn
        }),
        dataType: "json",
    });
    }
</script>
</body>
</html>