<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battle Ships</title>
    <link rel="stylesheet" th:href="@{/styles/CSS/home-styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/styles/assets/icon.png}" />
</head>
<body>

<div id="button-container">
<h1>BattleShips</h1>
<button id="button" onclick="openGame()">Let's PLAY!!!!</button>
</div>
</body>
<script>
    function openGame(){
    window.open('https://battleships-aybufebyd9cncwen.polandcentral-01.azurewebsites.net/battleShips/playGame', '_self');
    }
</script>
</html>
