<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Winner!!!!</title>
    <link rel="stylesheet" th:href="@{/styles/CSS/win-screen.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/styles/assets/icon.png}" />
</head>
<body>
<h1>You have won!!!</h1>
<button id="button" onclick="openHome()">Restart Game</button>
<script>
    function openHome(){
    window.open('https://battleships-aybufebyd9cncwen.polandcentral-01.azurewebsites.net/battleShips/home', '_self');
    }
</script>
</body>
</html>
